body {
    font-family: helvetica;
    background-image: url("images/pinkstripe.gif");
    background-repeat: repeat;
    img {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

}

a:link {
    color: #000000}inherit;
a:visited {
    color: #cdbb98}inherit;
}
a:hover {
    color: #cdbb98}inherit;
}
ul#menu {
    padding: 0;
    margin-bottom: 11px;
}

ul#menu li {
    display: inline;
    margin-right: 3px;
}

ul#menu li a {
    background-color: #ffccff;
    padding: 10px 20px;
    text-decoration: none;
    color: #696969;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    color: #ffccff;
    background-color: #ffffff;
}
img.center {
    display: block;
    margin: 0 auto;
}
